* {
    font-family: Quicksand, Arial, sans-serif;
    /*border: 2px solid red;*/
    font-size: 20px;
}

h1 {
    font-family: Protest Riot, Arial, sans-serif;
    font-size: 48px;
    margin-left: 20px;
}

h2 {
    font-size: 36px; 
}

p {
    max-width: 600px;
}

header {
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;
    background-color: #88A09E;
    margin: 0px;
}

#name-title {
    color: black;
    background-color: #88A09E;
    flex-basis: 60%;
}

.pages {
    flex-basis: 40%;
    display: flex;
    gap: 20px;
    font-size: 32px;
    text-align: center;
    margin: auto;
    margin-right: 20px;
    justify-content: flex-end;
}

.container {
    background-color: white;
    display: grid;
    grid-template-columns: 1.25fr 0.75fr 0.75fr 0.75fr;
    background-color: rgb(204, 217, 216);
    gap: 30px;
    margin: 0px;
}

.main-content {
    background-color: #88A09E;
    grid-column: 2/5;
    grid-row: 3/4;
}

.main-text {
    grid-row: 4/5;
    grid-column: 3/4;
    font-size: 20px;
    margin: auto;

    animation: fadeInSecond ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-container {
    grid-column: 2/3;
    grid-row: 3/5;
    border: black 3px;
    background-color: rgb(192, 192, 175);
    border-radius: 15% 50% / 15% 25%;
    
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-container h3 {
    padding-left: 25%;
    font-size: 24px;
}

.pages a:active {
    color: black;
}

a {
    box-shadow: inset 0 0 0 0 rgb(8, 109, 148);
    color: rgb(8, 109, 148);
    margin: 0 -.25rem;
    padding: 0 .5rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}

a:hover {
    box-shadow: inset 100px 0 0 0 rgb(8, 109, 148);
    color: white;
}

#hello {
    grid-row: 3/4;
    grid-column: 3/5;
    font-size: 128px;
    margin-top: 100px;
    margin-bottom: 20px;

    animation: fadeInSecond ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#head-shot {
    width: 360px;
    height: 360px;
    border-radius: 15% 50% / 15% 25%;
}

footer {
    grid-row: 5/6;
    grid-column: 1/5;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

/* -- Interests -- */

.sub-page-container {
    background-color: white;
    margin: 0px;
    background-color: rgb(204, 217, 216);
}

.sub-page-contents {
    margin: auto;
    padding-left: 30px;
    background-color: rgb(204, 217, 216);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    animation: fadeInSecond ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.sub-page-header {
    text-align: center;
    font-size: 128px;
    width: 100%;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.all-interests {
    flex-basis: 10%;
    display: flex;
}

.interest-pic {
    width: 400px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInSecond {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}

#hamburger-pages {
    display: none;
    grid-column: 1/4;
    width: 100vw;
    background-color: rgb(192, 192, 175);
    flex-direction: column;
    margin-top: -30px;
}

#hamburger-pages a {
    width: 100vw;
    padding: 0px;
    text-align: center;
}

#hamburger-pages a:hover {
    box-shadow: inset 100vw 0 0 0 rgb(8, 109, 148);
}

#hamburger-link {
    padding: 45px 45px;
}

@media (min-width: 0px) {
    .pages {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 760px) {
    .pages {
        display: flex;
    }

    #hamburger-link {
        display: none;
    }

    #hamburger-pages {
        display: none!important;
    }

    .container {
        display: grid;
    }
}